@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	--background: #111;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 24px;
	background: var(--background);

	transition: ease 200ms;
}
