@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$background: #111;
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 24px;
	background: $background;

	transition: ease 200ms;
}
