.centered {
	display: flex;
	align-items: center;
	justify-self: center;
	margin: auto;

}
.centered.column {
	flex-direction: column;
}

.centering {
	text-align: center;
}

.groups {
	display: flex;
	gap: 48px;
}
